################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FirstAPIProject/FileContentIndex/62b84b8d-b00f-4977-badc-ca4797bc9837.vsidx
